Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@nicollasanderson 
Kenzie-Academy-Brasil-Developers
/
m1-entrega-s4-entrega-construa-um-jogo-de-azar-brendosousa
Internal
0
00
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
m1-entrega-s4-entrega-construa-um-jogo-de-azar-brendosousa/style.css
@nicollasanderson
nicollasanderson Fusão da tabela
Latest commit a4d6cee 13 hours ago
 History
 4 contributors
@codethiago@occasum13@nicollasanderson@brendosousa
372 lines (269 sloc)  5.94 KB
  
table{
    
    width: 400px;
    height: 100%;
    margin: auto;
}
tr{
    background-color: green;
}
td{
    text-align: center;
    color: white;
    width: 9%;
}



@media screen and (max-width: 800px) {   
   
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');

    
   
   body {
        background-color: black;
        color:#FFF;
        font-family:  'Roboto Mono', monospace;
        width: 100%;
        height: 1090px;
    }
    
    /* CONTAINER \/ */

    .fullbox {
    padding-top:60px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
    /* CABEÇALHO \/ */
    
    
    header {
        display: flex;
        justify-content:space-between;
        width: 100%;
        padding-top:20px;
        height: 40px;
        background-color: #287926;
        color:#FFF;
        font-size:24px;
    }
    
    
    /* PLAYER INFO \/ */
    
    div.playerInfo {
        padding-top:10px;
    }

        /* FORMULÁRIOS \/ */
    
        div.infoForm {
            padding-top:10px;
            width:250px;
            margin-bottom:40px;
        }
        
        .infoForm button {
            width:50px;
            height:30px;
            background-color: #287926;
            color:#FFF;
    
        }
        
        .infoForm input#name {
            height:25px;
        }
    
        .infoForm input#word {
            height:25px;
        }
    

    /* GAME CONTAINER \/ */
    
    div.game {
        width:400px;
        height:650px;
        text-align:center;
        font-size: 32px;
    }

    /* CHECKBOX \/ */

    .checkBox {
        margin-top:10px;
    }
    
    .found {
        margin-top:10px;
        height:200px;
        background-color: #FFF;;
        border:2px solid white;
    }
    
    /* GAME CONTAINER 2 \/ (START/RESET/TIMER) */

    div.game2 {
        padding-top:40px;
    }

    /* CAÇA PALAVRAS \/ */


    .letterBox {
        margin-top:20px;
        height:550px;
        background-color:#FFF;
    }
    
    

    /* RESET \/ */

    button#reset {
        width:200px;
        height:70px;
        background-color: #287926;
        color:#FFF;
    }

    /* TIMER \/ */

    .timer {

    }

}




/* DESKTOP ABAIXO */

@media screen and (min-width: 800px) {
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');



    body {
        width:100%;
        height: 1400px;
        background-image: url("/gif/matrix.gif");
        background-size: 100% 100%;
        background-color: black;
        color:#FFF;
        font-family:  'Roboto Mono', monospace;
    }

    /* CONTAINER */

    .fullbox {
        display:flex;
        justify-content:space-evenly;
        margin-top:150px;
    }
    
    /* CABEÇALHO */
    
    
    header {        
        display:flex;
        justify-content:space-between;
        width: 100%;
        height: 100px;
        background-color: #287926;
        color:#FFF;
        font-size:32px;
        padding-top:10px;
        padding-bottom:10px;
        align-items:center;

    }
    
    h3 {
        text-align:left;
        padding-left:50px;
    }

    h4 {
        text-align:right;
        padding-right:50px;
    }
    
    /* PLAYER INFO */
    
    div.playerInfo {
        padding-top:50px;
        font-size:24px;
    }

    
    /* FORMULÁRIO */
    
    div.infoForm {
        padding-top:10px;
        width:330px;
        margin-bottom:50px;
    }
    
    .infoForm button {
        width:80px;
        height:40px;
        background-color: #287926;
        color:#FFF;
    }
    
    .infoForm input#name {
        height:35px;
        width:220px;
        margin-top:10px;
        margin-bottom:280px;
    }

    .infoForm input#word {
        height:35px;
        width:225px;
        margin-bottom:20px;
        margin-top:10px;
    }

    /* GAME */
    
    div.game {
        
        width:350px;
        height:650px;
        text-align:center;
        font-size: 32px;
    }
    
    /* RESET/FOUND BOX */

    div.game2 {
        padding-top:40px;
    }

    /* CAÇA PALAVRAS */

    p.title {
    }

    .letterBox {
        width:350px;
        margin-top:20px;
        height:550px;
        background-color:#FFF;
    }
    

    /* CHECKBOX */
    
    .checkBox {
        font-size:24px;
        margin-top:10px;
        margin-bottom:160px;
    }
    
    .found {
        width:233px;
        margin-top:10px;
        height:208px;
        background-color: #FFF;;
    }


    /* RESET */

    button#reset {
        width:200px;
        height:70px;
        background-color: #287926;
        color:#FFF;
    }
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete